{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
{{ flatpage.content }}
<hr xmlns="http://www.w3.org/1999/html">
        <p><font face="Monotype Corsiva, Arial" color="#2c3e50" font size="12"> Если твоего начальника зовут Вячеслав...</font></p>
        <p><font face="Times New Roman, Arial" color="#2c3e50"><b><i> Значит каждый день ты работаешь на славу:)</i></b></font></p>
<hr>
        <p><font face="Monotype Corsiva, Arial" color="#ffc107" font size="12">Что делают толстые стриптизеры...</font></p>
        <p><font face="Times New Roman, Arial" color="#ffc107"><i><b>Иногда перегибают палку)</b></i></font></p>
<hr>
        <p><font face="Comic Sans MS" color="#fd7e14" font size="6">Папа Карло приделал Буратино колесо вместо одной ноги...</font></p>
        <p><font face="Comic Sans MS" color="#fd7e14"><b><i>И пошло поехало)</i></b></font></p>
{% endblock content %}